<!doctype html> <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <title>Hello, world! </title>
  </head>
  <body>
    <div class="container col-6" ng-app = "myapp">
      <div ng-controller = "myctrl">
        <div class="card">
          <div class="card-header">
            <h4>TÍNH THƯỞNG TẾT NGUYÊN ĐÁN</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="font-weight-bold">Họ và tên</label>
                <input ng-model="fullname" class="form-control "/>
              </div>
              <div class="form-group">
                <label class="font-weight-bold">Lương</label>
                <div class="input-group flex-nowrap">
                  <input ng-model="salary" class="form-control " />
                  <div class="input-group-prepend">
                    <span class="input-group-text" >VNĐ</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="font-weight-bold">Giới tính</label> <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" ng-model="gender" value="NAM" class="custom-control-input" id="customRadioInline1">
                  <label class="custom-control-label" for="customRadioInline1">Nam</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" ng-model="gender" value="NU" class="custom-control-input" id="customRadioInline2">
                  <label class="custom-control-label" for="customRadioInline2">Nữ</label>
                </div>
              </div>
              <div class="form-group">
                <label class="font-weight-bold">Độ tuổi</label>
                <select class="form-control" ng-model="age" ng-options="x.age for x in ages"> 
                </select>
              </div>
            
            </form>
          </div>
          <div class="card-footer text-muted">
            TIỀN THƯỞNG: <strong>{{getBonus()|number:2}}</strong> VNĐ
          </div>
        </div>
      </div>
    </div>
    <script>
      var app = angular.module("myapp",[])
      app.controller("myctrl", function($scope){
       $scope.ages = [
         {
           age: "Dưới 25", 
           rate: 0.07
         },
         {
           age: "Từ 25 đến 40", 
           rate: 0.1
         },
         {
           age: "Trên 40", 
           rate: 0.15
         }
       ];
       $scope.age = $scope.ages[1];
       $scope.gender = "NAM";
       $scope.getBonus = function(){
         var bonus = $scope.age.rate * $scope.salary; 
         if($scope.gender == "NU"){
           bonus += 200000;
         }
         return bonus;
       }
      });

    </script>
    <!-- Optional JavaScript:  jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
  </body>
</html>