header{
    height: 200px; background-color: mediumblue;
}
nav .row{
    height: 60px; background-color: yellow;
}
.row > article{
    min-height: 300px; background-color: darkgrey;
}
.row > aside{
    min-height: 300px; background-color: cyan;
}
footer{
    height: 50px; background-color: grey;
}
